node_modules/
convert/baseball.npy
convert/baseball_bat.npy
convert/cat.npy
convert/bicycle.npy
convert/candle.npy
drawing.png
convert/data/
assets/new/*
assets/old_sets/*
assets/test_set/*
assets/training_set/*
assets/test_cat/*
assets/training_cat/*
.DS_Store

