body{
  margin: 0;
  font-family: "Anonymous Pro", monospace;
}

header{
  width: 100%;
  background:#ffeb3b;
  padding: 1em;
  margin-bottom: 2em;
}

h1{
  text-align: center;
  font-size: 2em;
  margin: 0;
}

.app-container{
  display: block;
  width: 60%;
  margin : 0 auto;
  border: 1px solid black;
  padding: 1em;
}

.canvas-container{
  display: inline-block;
  width: 40%;
}

canvas{
  border: 1px solid black;
  background: white;
}

#check-button{
  background: #ffeb3b;
  color: black;
  border: none;
  padding: 1em 2em;
  margin: 1em 0;
  font-size: 14px;
  position: absolute;
  bottom: 3em;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Anonymous Pro", monospace;
}

#clear-button{
  background: #ffeb3b;
  color: black;
  border: none;
  padding: 1em 2em;
  margin: 1em 0;
  font-size: 14px;
  position: absolute;
  bottom: 3em;
  left: 50%;
  transform: translateX(-180%);
  font-family: "Anonymous Pro", monospace;
}

#download-link{
  background: #ffeb3b;
  color: black;
  border: none;
  padding: 1em 2em;
  margin: 1em 0;
  font-size: 14px;
  position: absolute;
  bottom: 3em;
  left: 50%;
  transform: translateX(65%);
  font-family: "Anonymous Pro", monospace;
  text-decoration: none;
}

.imageToCheck{
  display: none;
}

p.prediction{
  display: inline-block;
  font-size: 24px;
  vertical-align: top;
}
